.footer {
    position: static;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    padding: 1px 0;
    z-index: 1000;
  }
  
  .footer .container {
    max-width: 100%;
  }
  
  .footer .social-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .footer .footer-links {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .footer .footer-links li {
    margin: 0 15px;
  }
  